.container {
  max-width: 1520px;
  margin: 0 auto;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  align-items: center;
}
.footer__wrapper--left {
  display: flex;
  align-items: center;
  gap: 100px;
}

.footer {
  border-top: 5px solid var(--2, #8B9D83);
}

.footer__menu {
  display: flex;
  gap: 40px;
}

.img__text {
  display: flex;
  gap: 20px;
}

.INN {
  color: #A49B9B;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.finishedHous {
  color: #424242;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*# sourceMappingURL=main.css.map */
